#
# Windows specific
#
**/*.exe
**/*.obj
**/*.pdb
**/*.ilk
**/*.suo
**/*.sln
**/*.VC.db
**/settings

#
# STM specific
#
**/List/**
**/Exe/**
**/Obj/**
**/*.dep


**/build
**/dist

# ignore "populated" oosmos source files.

Examples/**/oosmos.h
Examples/**/oosmos.c
Examples/**/oosmos.cpp

# ignore "populated" class files.

Examples/**/accum.h
Examples/**/accum.c
Examples/**/accum.cpp

Examples/**/btn.h
Examples/**/btn.c
Examples/**/btn.cpp

Examples/**/dns.h
Examples/**/dns.c
Examples/**/dns.cpp

Examples/**/encoder.h
Examples/**/encoder.c
Examples/**/encoder.cpp

Examples/**/keyer.h
Examples/**/keyer.c
Examples/**/keyer.cpp

Examples/**/keypad.h
Examples/**/keypad.c
Examples/**/keypad.cpp

Examples/**/lcd.h
Examples/**/lcd.c
Examples/**/lcd.cpp

Examples/**/matrix.h
Examples/**/matrix.c
Examples/**/matrix.cpp

Examples/**/mcp4131.h
Examples/**/mcp4131.c
Examples/**/mcp4131.cpp

Examples/**/pin.h
Examples/**/pin.c
Examples/**/pin.cpp

Examples/**/prt.h
Examples/**/prt.c
Examples/**/prt.cpp

Examples/**/reg.h
Examples/**/reg.c
Examples/**/reg.cpp

Examples/**/sock.h
Examples/**/sock.c
Examples/**/sock.cpp

Examples/**/spi.h
Examples/**/spi.c
Examples/**/spi.cpp

Examples/**/sw.h
Examples/**/sw.c
Examples/**/sw.cpp

Examples/**/toggle.h
Examples/**/toggle.c
Examples/**/toggle.cpp

Examples/**/uart.h
Examples/**/uart.c
Examples/**/uart.cpp

Examples/**/tok.h
Examples/**/tok.c
Examples/**/tok.cpp

# ignore "populated" class test files.

Examples/**/encodertest.h
Examples/**/encodertest.c
Examples/**/encodertest.cpp

Examples/**/lcdtest.h
Examples/**/lcdtest.c
Examples/**/lcdtest.cpp

Examples/**/matrixtest.h
Examples/**/matrixtest.c
Examples/**/matrixtest.cpp

Examples/**/mcp4131test.h
Examples/**/mcp4131test.c
Examples/**/mcp4131test.cpp

Examples/**/regtest.h
Examples/**/regtest.c
Examples/**/regtest.cpp

Examples/**/switchtest.h
Examples/**/switchtest.c
Examples/**/switchtest.cpp

Examples/**/threadtest.h
Examples/**/threadtest.c
Examples/**/threadtest.cpp

Examples/**/threadyieldtest.h
Examples/**/threadyieldtest.c
Examples/**/threadyieldtest.cpp

