**/build
**/dist

**/oosmos.h
**/oosmos.c
**/oosmos.cpp

**/pin.h
**/pin.c
**/pin.cpp

**/toggle.h
**/toggle.c
**/toggle.cpp

**/spi.h
**/spi.c
**/spi.cpp

**/uart.h
**/uart.c
**/uart.cpp

**/sw.h
**/sw.c
**/sw.cpp

**/matrix.h
**/matrix.c
**/matrix.cpp

**/matrixtest.h
**/matrixtest.c
**/matrixtest.cpp

**/prt.h
**/prt.c
**/prt.cpp

**/encoder.h
**/encoder.c
**/encoder.cpp

**/encodertest.h
**/encodertest.c
**/encodertest.cpp

**/switchtest.h
**/switchtest.c
**/switchtest.cpp

**/threadtest.h
**/threadtest.c
**/threadtest.cpp

**/lcd.h
**/lcd.c
**/lcd.cpp

**/lcdtest.h
**/lcdtest.c
**/lcdtest.cpp

**/reg.h
**/reg.c
**/reg.cpp

**/regtest.h
**/regtest.c
**/regtest.cpp

**/mcp4131.h
**/mcp4131.c
**/mcp4131.cpp

**/mcp4131test.h
**/mcp4131test.c
**/mcp4131test.cpp

**/keyer.h
**/keyer.c
**/keyer.cpp
 
